@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar{
  display: none;
}

body{
  background-color: #252525;
}

@font-face {
  font-family: "Anurati";
  src: url("../public/fonts/Anurati_Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Hyperion";
  src: url("../public/fonts/Hyperion_Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Ufo";
  src: url("../public/fonts/ufo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Futurism";
  src: url("../public/fonts/Futurism.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Osiris";
  src: url("../public/fonts/Osiris.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
